.myCars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;


  width: 100%;
  background: #ffe4c6;

  padding: 73px 200px;
}

.formUp {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;
}
.formBt{
    display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 40px;
}

.formInput{
    display: flex;
}