 .Header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 10px;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.Header h2 {
    position: absolute;
    top: -5px;
    margin-left: 160px;
    color: #FE8400;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: "Itim", cursive;
    z-index: 1;
}
